/* ǿ��ҳ�ű���͸�����Ƴ���Ӱ */
#footer {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

/* �Ƴ����ܴ��ڵĽ������� */
#footer:before {
  content: none !important;
}